.root {
    position: relative;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 90;
}

.drawer.open {
    transform: translateX(0);
}

.drawer-header {
    text-align: center;
}

.puller {
    width: 30px;
    height: 6px;
    background-color: #ccc;
    border-radius: 3px;
    margin: 10px auto;
}

.drawer nav {
    padding: 20px;
}

.drawer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.drawer li {
    margin-bottom: 10px;
}

.drawer a {
    text-decoration: none;
    color: #000000;
}

.drawer a.active {
    color: #284B63;
    font-weight: bold;
}

.auth-link {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
}

.drawer-toggle {
    position: relative;
    width: 45px;
    height: 45px;
    color: #284B63;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

.drawer-toggle.hide {
    display: none;
}
